.tictactoe-main{
    margin: 0 auto;  /*up and down || left and right*/
    max-width: 750px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.tictactoe-display{
    background-color: #222222;
    color: #fff;
    font-size: 2em;
    padding: 30px;
    text-align: center;
    position: relative;
    height: auto;
    min-height: 50px;
    width: 100%;
    box-sizing: border-box;

}

.tictactoe-field{
    background-color: #999;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;   
    width: 100%;
    
    
}

.tictactoe-field > div{
    

}